.dark-bg-1 {
    background-color: #2b2a33;
}

.dark-bg-2 {
    background-color: #32566a;
}

.dark-bg-3 {
    background-color: #03203C;
}


.dark-bg-4 {
    background-color: #03203C;
}

.light-bg-1 {
    background-color: #CAD5E2;
}

.light-bg-2 {
    background-color: #03203C;
}

.light-bg-3 {
    background-color: #03203C;
}

.light-bg-4 {
    background-color: #03203C;
}

.dark-text-1 {
    color: #fbfbfe;
}

.dark-text-2 {
    background-color: #03203C;
}

.dark-text-3 {
    background-color: #03203C;
}


.dark-text-4 {
    background-color: #03203C;
}

.light-text-1 {
    background-color: #03203C;
}

.light-text-2 {
    background-color: #03203C;
}

.light-text-3 {
    background-color: #03203C;
}

.light-text-4 {
    background-color: #03203C;
}